<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                <h3 class="section-title">Sobre</h3>
                
                <p>
                    PyLadies é um grupo de mentoria internacional com foco em ajudar mais mulheres a se tornarem participantes
                    ativas e líderes na comunidade Python.
                </p>
                <p>
                    No PyLadies em Recife-PE, buscamos integrar mulheres e pessoas não-binárias na linguagem de programação Python no
                    contexto recifense. Somos uma comunidade que tem por base a colaboração, diversidade e inclusão de pessoas em
                    tecnologia.
                </p>
                
                <p>
                    Nossa missão é promover, educar e incentivar uma comunidade Python diversificada através de divulgação, educação,
                    conferências, eventos e encontros sociais.
                </p>
                
                <p>
                    PyLadies também tem como objetivo fornecer uma rede de apoio amigável para as mulheres e uma ponte para mundo de
                    Python.
                    Qualquer pessoa com interesse em Python é incentivada a participar!
                </p>
                
                <h4 class="section-title">Valores e Missões</h4>
                <p>
                    Prezamos por ambientes inclusivos, livre de intimidações e discriminação em todos os eventos, conforme detalhado no <a href="https://github.com/pyladies-brazil/codigo-de-conduta" target="_blank">Código de Conduta do PyLadies Brasil</a>, o qual recomendamos leitura.
                </p>

                <p>
                    Somos uma comunidade que respeita e valoriza as diferenças, e somos formada desde nosso surgimento por pessoas diversas. Recomendamos a leitura do nosso <a href="https://github.com/pyladies-brazil/manifesto" target="_blank">Manifesto</a>
                </p>

                <p>
                    Você pode encontrar outras comunidades PyLadies no site do <a href="https://pyladies.com/locations/" target="_blank">PyLadies Global</a> e no site do <a href="http://brasil.pyladies.com/locations/" target="_blank">PyLadies Brasil</a>.
                </p>

            </div>
        </div>
    </div>
</section>
